@import "main-pic.scss";
@import "container.scss";
@import "headline.scss";
@import "main.scss";
@import "button.scss";
@import "link.scss";

body {
  margin: 0;
  padding: 21px;
  background: #f4f1e9;
  transition: background 1s;
  // overflow: hidden;
}

.dark-theme {
  background: #1a133c;
}
